*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    >div {
        width: 60%;
        height: 850px;
        gap: 1px;
        display: grid;
        background-color: wheat;
        padding: 2%;
        cursor: pointer;
        transition: all 1s linear;





        >div {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-color: #273F4F;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            color: whitesmoke;
            transition: all .2s linear;
            font-size: 20px;

            &:hover {
                background-color: tomato;
                scale: 1.1;
            }




            &:nth-of-type(1) {
                grid-area: 1 / 1 /span 2 / span 1;


            }

            &:nth-of-type(2) {
                grid-area: 1 / 2 /span 4 / span 2;

            }

            &:nth-of-type(3) {
                grid-area: 1 / 4 / span 4 / span 1;

            }

            &:nth-of-type(4) {
                grid-area: 1 / 5 / span 4 / span 1;

            }

            &:nth-of-type(5) {
                grid-area: 7 / 1 / span 2 / span 1;

            }

            &:nth-of-type(6) {
                grid-area: 7 / 2 / span 2 / span 1;

            }

            &:nth-of-type(7) {
                grid-area: 7 / 3 / span 4 / span 1;

            }

            &:nth-of-type(8) {
                grid-area: 7 / 4 / span 5 / span 2;

            }

            &:nth-of-type(9) {
                grid-area: 7 / 6 / span 2 / span 1;

            }

            &:nth-of-type(10) {
                grid-area: 5 / 4 / span 2 / span 3;

            }

            &:nth-of-type(11) {
                grid-area: 7 / 7 / span 4 / span 1;

            }

            &:nth-of-type(12) {
                grid-area: 11 / 6 / span 2 / span 1;

            }

            &:nth-of-type(13) {
                grid-area: 13 / 1 / span 4 / span 2;

            }

            &:nth-of-type(14) {
                grid-area: 13 / 3 / span 2 / span 2;

            }

            &:nth-of-type(15) {
                grid-area: 13 / 5 / span 2 / span 1;

            }

            &:nth-of-type(16) {
                grid-area: 13 / 6 / span 4 / span 1;

            }

            &:nth-of-type(17) {
                grid-area: 13 / 7 / span 2 / span 1;

            }

            &:nth-of-type(18) {
                grid-area: 15 / 7 / span 2 / span 1;

            }

            &:nth-of-type(19) {
                grid-area: 18 / 1 / span 5 / span 1;

            }

            &:nth-of-type(20) {
                grid-area: 18 / 2 / span 4 / span 1;

            }

            &:nth-of-type(21) {
                grid-area: 18 / 3 / span 3 / span 1;

            }

            &:nth-of-type(22) {
                grid-area: 18 / 4 / span 3 / span 1;

            }

            &:nth-of-type(23) {
                grid-area: 18 / 5 / span 4 / span 1;

            }

        }
    }

    >h2 {
        position: absolute;
        color: tomato;
        font-family: cursive;
        font-size: 25px;
        transform: rotate(-45deg);
        left: 20px;
        top: 120px;
    }
}